/* CSS for hamburgermeny og navigasjon */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  
}

header {
  
  background-color: bisque;
  
  align-items: center;
  display: flex;
}


.logo {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 20px;
  float: left;
  text-shadow: 3px 2px rgba(179, 245, 193, 0.612);
  text-transform: uppercase;

}





img{
  width: 100%;
  border-radius: 5px;
}


.collection{
  
  text-align: center;
  margin-top: 100px;
}

#check,#checkbox_toggle{
  display: none;
}
nav ul li{
  display: inline;
  font-size: 20px;
  

 
}

a.active{
  transition: .5s;
}




.menu-button-container {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

ul.navigation {
  list-style: none;
  
}

ul.navigation li {
  margin-right: 20px;
}

ul.navigation li a {
  text-decoration: none;
  color: black;
  font-weight: bold;  

}


.shop-now{
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  



}

.fa{
  padding: 20px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  margin: 5px 2px;
  text-decoration: none;
}

.fa-facebook{
  background-color: #3B5998;
  color: white;
}
.fa-twitter{
  background-color: #3B5998;
  color: white;
}
.fa-instagram{
  background-color: #3B5998;
  color: white;
}
/* Responsivt design for mobile enheter */
@media screen and (max-width: 1000px) {
  .menu-button-container {
    display: block;
     /* Vis hamburgerikonet på mobilvisning */
  }

  header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  nav ul li {
    background-color: rgb(177, 189, 189);
    width: 100%;
  }
  ul{
    display: block; /* Skjul navigasjonen på mobilvisning */
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: -120%;
    width: 100%;
    height: 100vh;
    transition: all .6s;
  
    
      }

      ul li{
        line-height: 100px;
        font-size: 25px;
        padding-left: 50px;
        
      }

      nav ul li{
        display: block;
      }
      
  
      header,#checkbox_toggle{
        display: flex;
        justify-content:space-between;

      }

  #checkbox_toggle{
    display: inline;
    font-size: 30px;
  cursor: pointer;
  position: relative;
  text-transform: none;
  margin-right: 40px;
  

  }

  #check:checked ~ ul {
    right:0 ;
  }
 

  .imgjordan{
    background-color: #C58B8B;
    height: inherit;
    
  }

 

  .collection{
    background-color: white;
    text-align: center;
    margin-top: 100px;
  }

  .shop-now{
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    
  


  }
  

  
  
}