/* CSS for hamburgermeny og navigasjon */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  
  
  


}




.grid-container{
  display: grid;
  grid-template-areas:
  "header nav nav "
  "main main main "
  "footer footer footer ";
  grid-template-columns: 1fr ;
  
 


}

.grid-header{ grid-area: header;}
.grid-nav{ grid-area: nav;}
.grid-main{ grid-area: main;}
.grid-footer{ grid-area: footer;}




header {
  
  background-color: rgb(4, 6, 4);
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

nav{
  display: flex;
}




.logo {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 20px;
  float: left;
  text-shadow: 3px 2px rgba(217, 227, 219, 0.612);
  text-transform: uppercase;
  color: white;

}

.icons{
  display:flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  
  
}

.icons .fa {
  color: white;

}

.collectionfigure{
  width:100% ;
  height: 100%;
  object-fit: contain;
}

.frontimg{
  width:100%;
  border-radius: 5px;
}

.seosection{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 200px;
}



.collection{
  display: flex;
 flex-direction: column;
  align-items: center;
  
  

  
}



#check,#checkbox_toggle{
  display: none;
}
nav ul li{
  display: inline;
  font-size: 20px;
  

 
}

a.active{
  transition: .5s;
}




.menu-button-container {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

ul.navigation {
  list-style: none;
  
  
}

ul.navigation li {
  margin-right: 20px;
  
}

ul.navigation li a {
  text-decoration: none;
  color: white;
  font-weight: bold;  

}


.shop-now{
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  outline: none;
  border: none;
  



}

.highquality {
  display:flex;
  justify-content:space-between;
  padding: 30px;
  margin-top: 50px;
  
  
}

.highquality h1{
  font-size: 30px;
  
}

.highquality p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:700;
  width: 50;
  
}





.fa{
  padding: 20px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  margin: 5px 2px;
  text-decoration: none;
}

.fa-facebook{
  background-color: #3B5998;
  color: white;
}
.fa-twitter{
  background-color: #3B5998;
  color: white;
}
.fa-instagram{
  background-color: #3B5998;
  color: white;
}


.explore{
  padding: 9px 9px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight:500;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}
.maillist{
  display:inline-block;
}

.mencategory{
  background-image: url(/img/man.jpg);
  background-size: cover;
  width: 200px;
  background-position: center;
  height: 200px;

}






.womencategory{
  background-image: url(/img/lady.jpg);
  background-size: cover;
  width: 200px;
  background-position: center;
  height: 200px;

}




.kidscategory{
  background-image: url(/img/kidshoe.jpg);
  background-size: cover;
  width: 200px;
  background-position: center;
  height: 200px;

}





.imgarticle{

display: flex;
flex-direction: row;
gap: 20px;
padding-left: 20px;
justify-content: space-evenly;


}

.categories h1{
  
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.categories{
  padding-bottom: 70px;
}

footer{
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
  background-color: black;
  color: white;
  
  
}



.shopsection{
  display: flex;
}

.shopsection a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.shopsection h1{
  font-size: 24px;
}

.membership{
  
  height: 350px;
  color: black;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 25px;
  
}  

.membership h1 {
padding-top: 10px;
}

.membership button{
  background-color: black;
  color: white;
  padding: 7px 7px;
  font-size: 18px;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
 outline: none;
  border: none;
}

.imgcollection{
display: flex;
}


.jordan{
  
  width: 250px;
  height: 200px;
  padding: 40px;

  
}

.product-item p{
  padding-left: 40px;
  font-weight: bold;
  
}

table{
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  

}

.tabelsection{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.analyse-h1{
  text-align: center;
}


.UUsection{
  display: flex;
  justify-content: space-between;
  flex-flow:wrap;

}

/*flex-wrap: wrap;*/
figure{
  margin: 20px;
  width: 300px;
  height: 300px;
}


figure img{
  width: 100%;
height: 90%;
  object-fit: contain;
}
a.skip-link:focus {
  outline: none;
  opacity: 1;
  visibility: visible;

}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #007BFF;
  color: #fff;
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.skip-link:focus {
  outline: none;
  opacity: 1;
  visibility: visible;
}

.young{
  display: flex;
  text-align: center;
  justify-content: center;
}

figcaption{
  text-align: center;
}

.chatgpt-løsning{
  display: flex;
  justify-content: space-between;
  flex-flow:wrap;
  margin-bottom: 100px;
}

.sammenligning{
  margin-bottom: 100px;
}
.forbedret{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  
}
/* Responsivt design for mobile enheter */
@media screen and (max-width: 1000px) {
  .menu-button-container {
    display: block;
     /* Vis hamburgerikonet på mobilvisning */
  }

  header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  nav ul li {
    background-color: rgb(177, 189, 189);
    width: 100%;
    
  }
  ul{
    display: block; 
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: -120%;
    width: 100%;
    height: 100%;
    transition: all .6s;
    
    
  
    
      }

      ul li{
        line-height: 100px;
        font-size: 25px;
        padding-left: 50px;
        overflow-y:scroll;
        
        
      }

      nav ul li{
        display: block;
      }
      
  
      header,#checkbox_toggle{
        display: flex;
        justify-content:space-between;

      }

  #checkbox_toggle{
    display: inline;
    font-size: 30px;
  cursor: pointer;
  position: relative;
  text-transform: none;
  margin-right: 40px;
  color: white;
  

  }

  #check:checked ~ ul {
    right:0 ;
  }
 

  .imgjordan{
    background-color: #C58B8B;
    height: inherit;
    
  }

 
 

  .collection{
    background-color: white;
    text-align: center;
    margin-top: 100px;
  }

  .shop-now{
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    
  


  }

  .highquality {
    display:block;
    
    
    
    
  }

  .highquality img{
    display: none;
  }
  
  .highquality h1{
    font-size: 30px;
    
  }
  
  .highquality p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
    width: 50;
    
  }
  
  
  

.membership{
  

  color: black;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

}  



.imgarticle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  footer{
   display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    color: white;
    height: 100%;
    
    
  }


  .fa{
    
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 5px 5px;
    text-decoration: none;
  }

  footer ul li a{
    display:inline ;
    
    
  }
  .productimg{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .imgcollection{
    display: flex;
    flex-direction: column;
    }
  

 
}